<!DOCTYPE html>
<html>
  <head>
    <title>user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>你好</h2>
    <form action="/users/signup" method="post">
      <p>
          <label for="username">用户名</label>
          <input type="text" id="username" name="username" placeholder="用户名">
      </p>
      <p>
          <label for="age">年龄 :</label>
          <input type="text" id="age" name="age" placeholder="年龄">
      </p>
      <p>
          <label for="address">地址 :</label>
          <input type="text" id="address" name="address" placeholder="地址">
      </p>
      <p>
          <input type="submit" value="注册">
      </p>
  </form>
  <br>
  <form action="/users/signin" method="POST" >
    <input type="text" id="name" name="name" value="ztz" />
    <input type="password" id="password" name="password" value="123456" />
    <input type="submit" value="登录" id="login" />
  </form>
  </body>
</html>